@use "./variables" as *;

.container {
  max-width: 1400px;
  width: 60%;
  // display: flex;
  // justify-content: center;
}
.my-container {
  max-width: 1400px;
  width: 60%;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.debug {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.186);
}
