@use "./variables" as *;
h2 {
  font-size: 3rem;
  font-weight: 800;
  position: relative;
  z-index: 4;
}

p {
  color: $paragraph;
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.my-badge {
  display: flex;
  align-items: center;
  color: $dark_green;
  background-color: $light_green_bg;
  height: 40px;
  padding: 10px 18px 10px;
  width: auto;
  margin-right: 8px;
}
span {
  color: $dark_green;
  font-weight: 600;
}
