// header
$contacts_color: #21333e;

// bottoni
$button: #048383;

// main
$body_light: #edf4ec;
$body_dark: #121117;
$body_white: white;

// form
$form_input: #e5ebe5;

// typography colors
$whites: white;
$dark_green: #048383;
$dark_green_bg: #04838354;
$light_green: #56e2e4;
$light_green_bg: #88e1e349;
$paragraph: #b4b6c2;
$logos: #4f5050;
