// header
$contacts_color: #21333e;

// bottoni
$button: #048383;

// main
$body_light: #edf4ec;
$bosy_dark: #121117;
$body_white: white;

// form
$form_input: #e5ebe5;

// typography colors
$whites: white;
$dark_green: #048383;
$light_green: #88e2e3;
$paragraph: #919194;
$logos: #4f5050;
